<md-dialog aria-label="Cadastrar cliente" >
  <form >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Cadastrar cliente</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content flex>
     
      <div layout="column" class="md-dialog-content">
        <md-input-container>
          <label>Nome</label>
          <input ng-model="cliente.nome">
        </md-input-container>
        <md-input-container>
          <label>Telefone</label>
          <input ng-model="cliente.telefone" maxlength="15" ng-keypress="maskTelefone(cliente.telefone)">
        </md-input-container>
        <md-input-container>
          <label>CPF</label>
          <input ng-model="cliente.cpf">
        </md-input-container>
        <md-input-container>
          <label>Endereço</label>
          <textarea ng-model="cliente.endereco"></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      
      <span flex></span>
           <md-button ng-click="salvar(cliente)">
              Salvar
          </md-button>
          <md-button ng-click="cancelar()">
              Cancelar
          </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

