<md-dialog aria-label="Cadastrar cliente" >
  <form >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Cadastrar cliente</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content flex>
     
      <div layout="column" class="md-dialog-content">
        <md-input-container>
          <label>Nome</label>
          <input ng-model="cliente.nome">
        </md-input-container>
        <md-input-container>
          <label>Telefone</label>
          <input ng-model="cliente.telefone" maxlength="15" ng-keypress="maskTelefone(cliente.telefone)">
        </md-input-container>
        <md-input-container>
          <label>CPF</label>
          <input ng-model="cliente.cpf">
        </md-input-container>
        <md-input-container>
          <label>Endereço</label>
          <textarea ng-model="cliente.endereco"></textarea>
        </md-input-container>
		<div>
		<md-button class="md-raised md-primary" ng-click="showAdvanced($event)">Adicionar veículo</md-button>
		</div>
		<md-list class="gridVeiculos">
			<md-list-item class="secondary-button-padding">
				<span class="nome">Nome</span>
				<span class="nome">Placa</span>
				<span class="nome">Descrição</span>
			</md-list-item>
			<md-list-item flex class="secondary-button-padding"
				ng-click="doPrimaryAction($event)">

				<span class="nome">Gol</span>
				<span class="nome">MSV2E29</span>
				<span   class="nome"> Gol 4 portas branco</span>


				<md-button ng-click="editarCliente( cliente  )" class="md-icon-button" aria-label="More">
					<md-icon>edit</md-icon>
				</md-button>
				<md-button ng-click="deletar(cliente.id);" class="md-icon-button rigth" aria-label="More">
					<md-icon>delete</md-icon>
				</md-button>
			</md-list-item>
			<md-list-item flex class="secondary-button-padding"
				ng-click="doPrimaryAction($event)">

				<span class="nome">Fiesta</span>
				<span class="nome">MSV2E28</span>
				<span class="nome"> Fiesta 4 portas branco</span>


				<md-button  class="md-icon-button" aria-label="More">
					<md-icon>edit</md-icon>
				</md-button>
				<md-button class="md-icon-button rigth" aria-label="More">
					<md-icon>delete</md-icon>
				</md-button>
			</md-list-item>
		</md-list>
		
      </div>
	  
		
	  
    </md-dialog-content>

    <md-dialog-actions layout="row">
      
      <span flex></span>
           <md-button ng-click="salvar(cliente)">
              Salvar
          </md-button>
          <md-button ng-click="cancelar()">
              Cancelar
          </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

